@model IEnumerable<ProjetCore.Logica.Models.ViewModel.TasksViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Projects</h2>


<div class="form-group">
    @Html.ActionLink(" Create", "Create", "Tasks", new { ProjectId = ViewBag.ProjectId }, new { @class = "btn btn-primary" })
</div>

    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Effort)
            </th>
            <th>

            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Tasks", "Create", "Tasks", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Effort)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Task", new { id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "Delete", "Task", new { id = item.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Detail", "Detail", "Task", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>

            </tr>
        }
    </table>
