@model IEnumerable<ProjetCore.Logica.Models.ViewModel.ProjectsIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Projects</h2>

<div class="form-group">
    @Html.ActionLink("Create", "Create", "Projects", null, new { @class = "btn btn-primary" })
</div>


<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedCompletionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>

        </th>

    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedCompletionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", "Projects", new { id = item.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Detail", "Detail", "Projects", new { id = item.Id }, new { @class = "btn btn-info" })
        </td>
       
    </tr>
    }
</table>