@model IEnumerable<ProjetCore.Logica.Models.ViewModel.ProjectsIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Projects</h2>

@Html.ActionLink("Create", "Create", "Projects", null, new { @class = "btn btn-primery" })

<table class="table table-bordered">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Details)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.ExpectedCompletionDate)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </td>
        <td>

        </td>

    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedCompletionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", "Projects", new { id = item.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Show", "Show", "Projects", new { id = item.Id }, new { @class = "btn btn-info" })
        </td>
       
    </tr>
    }
</table>